Postgres_User=<user>
Postgres_Password=<password>
Postgres_DB=<db>

RabbitMQ__Host=<host>
RabbitMQ__VirtualHost=<virtual_host>
RabbitMQ__Username=<user>
RabbitMQ__Password=<password>

ConnectionStrings__DefaultConnection=Host=<host>;Port=5432;Database=<db>;Username=<user>;Password=<password>