# Connection String for .NET Application
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=fcg_plataforma_jogos;Username=fcgadmin;Password=sua_senha_aqui

OTEL_SERVICE_NAME=PaymentsAPI
OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp.nr-data.net:4318
OTEL_EXPORTER_OTLP_HEADERS=api-key=XXX